<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lb.lollipopcontactsrecyclerviewfastscroller">

  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.lb.recyclerview_fast_scroller.MainActivity"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name">

      <!-- android:uiOptions="splitActionBarWhenNarrow" -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
